In [11]:
import hopsworks
from hsfs.client.exceptions import RestAPIError

# Establish connection to Hopsworks
project = hopsworks.login(
    api_key_value="dYTVrTVvbj6Qw82i.YGKHdS9snQYFgOADJIvLdvZ2n2S5BxIAOtvPUEmAyd56bvaG6xhhGyNM3nYbexaP"
)

# Access the Feature Store
fs = project.get_feature_store()

# List of feature groups and their versions
feature_groups = [
    {"name": "city_weather", "version": 1},
    {"name": "drivers", "version": 1},
    {"name": "routes", "version": 1},
    {"name": "routes_weather", "version": 1},
    {"name": "traffic", "version": 1},  # Corrected typo
    {"name": "truck_schedule", "version": 1},
    {"name": "trucks", "version": 1},
]
# Initialize an empty dictionary to hold DataFrames for each feature group
feature_group_data = {}

# Loop over the list of feature groups and download them
for fg in feature_groups:
    try:
        # Retrieve the feature group by its name and version
        feature_group = fs.get_feature_group(fg['name'], version=fg['version'])
        df = feature_group.read()  # Read the feature group as a DataFrame
        
        # Save the DataFrame in the dictionary with the feature group's name as the key
        feature_group_data[fg['name']] = df

        print(f"Downloaded feature group: {fg['name']} (version {fg['version']})")
        print(df.head())  # Optionally display the first few rows of the DataFrame

    except RestAPIError as e:
        print(f"Error downloading feature group: {fg['name']} (version {fg['version']})")
        print(e)

# After the loop, you will have each feature group stored in the `feature_group_data` dictionary
# Access each DataFrame like this: feature_group_data['city_weather'], etc.

Connection closed.
Connected. Call `.close()` to terminate connection gracefully.

Logged in to project, explore it here https://c.app.hopsworks.ai:443/p/1044630
Connected. Call `.close()` to terminate connection gracefully.
Finished: Reading data from Hopsworks, using Hopsworks Feature Query Service (1.51s)
Downloaded feature group: city_weather (version 1)
   index_column     city_id  temp  wind_speed    description  precip  \
0         26374  C-19236709    55          10          Sunny     0.0
1         37883  C-e6dcda92    19          17          Sunny     0.0
2         21614  C-419cd14c    57           9          Sunny     0.0
3          9578  C-ef47bdcd    36           7  Partly cloudy     0.0
4         29488  C-34ae77b0    79           6          Clear     0.0

   humidity  visibility  pressure  chanceofrain  chanceoffog  chanceofsnow  \
0        62           6      1001             0            0             0
1        74           6      1027             0            0             0
2        70           6      1029             0            0             0
3        53           6      1005             0            0             0
4        45           6      1016             0            0             0

   chanceofthunder                  datetime                event_time
0                0 2019-02-14 13:00:00+00:00 2024-09-17 00:00:00+00:00
1                0 2019-01-24 11:00:00+00:00 2024-09-17 00:00:00+00:00
2                0 2019-01-09 06:00:00+00:00 2024-09-17 00:00:00+00:00
3                0 2019-01-06 07:00:00+00:00 2024-09-17 00:00:00+00:00
4                0 2019-01-12 20:00:00+00:00 2024-09-17 00:00:00+00:00
Finished: Reading data from Hopsworks, using Hopsworks Feature Query Service (0.73s)
Downloaded feature group: drivers (version 1)
   index_column   driver_id             name gender  age  experience  \
0          1180  1717fad3-a   Craig Phillips   male   46           0
1          1171  4b40b4cd-b       Mark Moore   male   46           8
2           924  4c214ae8-b  Jermaine Farmer   male   41           7
3           469  0d9c0cc9-8  Dr. Wayne Clark   male   49          10
4           612  d4bc056a-7   Walter Mccarty   male   55          14

  driving_style  ratings  vehicle_no  average_speed_mph  \
0  conservative        7    20839152              40.95
1  conservative        4    32206460              46.16
2  conservative        7    11095479              41.24
3     proactive        7    20067958              60.29
4     proactive        4    32599168              61.05

                 event_time
0 2024-09-17 00:00:00+00:00
1 2024-09-17 00:00:00+00:00
2 2024-09-17 00:00:00+00:00
3 2024-09-17 00:00:00+00:00
4 2024-09-17 00:00:00+00:00
Finished: Reading data from Hopsworks, using Hopsworks Feature Query Service (0.58s)
Downloaded feature group: routes (version 1)
   index_column    route_id   origin_id destination_id  distance  \
0          1604  R-37b07aad  C-56b68559     C-451776b7   1589.99
1          1180  R-858d557e  C-03bb3e48     C-451776b7   1385.36
2          1171  R-39ef4a80  C-2c9e75ef     C-90e30162    517.10
3           402  R-fe016941  C-c7cacd1d     C-03bb3e48    932.44
4           612  R-5d24485c  C-ff8c0c3c     C-03bb3e48    447.87

   average_hours                event_time
0          31.80 2024-09-17 00:00:00+00:00
1          27.71 2024-09-17 00:00:00+00:00
2          10.34 2024-09-17 00:00:00+00:00
3          18.65 2024-09-17 00:00:00+00:00
4           8.96 2024-09-17 00:00:00+00:00
Finished: Reading data from Hopsworks, using Hopsworks Feature Query Service (4.85s)
Downloaded feature group: routes_weather (version 1)
   index_column    route_id                      date  temp  wind_speed  \
0         26197  R-df8c8ec9 2019-02-10 00:00:00+00:00    70           6
1         29820  R-38d1e82d 2019-01-20 06:00:00+00:00    19           4
2        196852  R-593b486f 2019-02-13 18:00:00+00:00    63           3
3         30963  R-89580831 2019-01-29 06:00:00+00:00    68           2
4        202067  R-da652dd4 2019-02-07 18:00:00+00:00    70          10

  description  precip  humidity  visibility  pressure  chanceofrain  \
0       Sunny     0.0        62           6      1015             0
1       Clear     0.0        88           6      1021             0
2       Clear     0.0        88           6      1022             0
3       Sunny     0.0        44           6      1017             0
4       Sunny     0.0        46           6      1018             0

   chanceoffog  chanceofsnow  chanceofthunder                event_time
0            0             0                0 2024-09-17 00:00:00+00:00
1            0             0                0 2024-09-17 00:00:00+00:00
2            0             0                0 2024-09-17 00:00:00+00:00
3            0             0                0 2024-09-17 00:00:00+00:00
4            0             0                0 2024-09-17 00:00:00+00:00
Finished: Reading data from Hopsworks, using Hopsworks Feature Query Service (16.87s)
Downloaded feature group: traffic (version 1)
   index_column    route_id  no_of_vehicles  accident  \
0        494153  R-073654b1           501.0         0
1        868051  R-0484f127           631.0         0
2       1925149  R-ad41fea2          1890.0         0
3       2274106  R-8dd113f2           604.0         0
4        467880  R-a6c7b143          2164.0         0

                   datetime                event_time
0 2019-01-01 08:00:00+00:00 2024-09-17 00:00:00+00:00
1 2019-01-03 02:00:00+00:00 2024-09-17 00:00:00+00:00
2 2019-02-06 16:00:00+00:00 2024-09-17 00:00:00+00:00
3 2019-01-12 08:00:00+00:00 2024-09-17 00:00:00+00:00
4 2019-02-08 11:00:00+00:00 2024-09-17 00:00:00+00:00
Finished: Reading data from Hopsworks, using Hopsworks Feature Query Service (0.78s)
Downloaded feature group: truck_schedule (version 1)
   index_column  truck_id    route_id       departure_date  \
0          5832  46155960  R-c3d9f83b  2019-02-03 07:00:00
1          1825  23024395  R-f782724c  2019-01-10 07:00:00
2          9186  23608280  R-4d09a561  2019-01-17 07:00:00
3          3063  28641704  R-a55547f0  2019-01-16 07:00:00
4          9578  13426754  R-006548e0  2019-02-10 07:00:00

               estimated_arrival  delay                event_time
0  2019-02-03 08:31:48.000000000      1 2024-09-17 00:00:00+00:00
1  2019-01-10 11:55:48.000000000      1 2024-09-17 00:00:00+00:00
2  2019-01-19 14:35:24.000000000      0 2024-09-17 00:00:00+00:00
3  2019-01-16 19:36:00.000000000      1 2024-09-17 00:00:00+00:00
4  2019-02-11 23:01:12.000000000      1 2024-09-17 00:00:00+00:00
Finished: Reading data from Hopsworks, using Hopsworks Feature Query Service (0.48s)
Downloaded feature group: trucks (version 1)
   index_column  truck_id  truck_age  load_capacity_pounds  mileage_mpg  \
0          1180  11614287          7                6000.0           18
1          1171  10440136          9                6000.0           23
2           924  28136927         12               10000.0           16
3           469  72777903         12                3000.0           28
4           612  28295338         12               10000.0           22

  fuel_type                event_time
0       gas 2024-09-17 00:00:00+00:00
1    diesel 2024-09-17 00:00:00+00:00
2       gas 2024-09-17 00:00:00+00:00
3    diesel 2024-09-17 00:00:00+00:00
4    diesel 2024-09-17 00:00:00+00:00

In [12]:
print(feature_group_data.keys())

dict_keys(['city_weather', 'drivers', 'routes', 'routes_weather', 'traffic', 'truck_schedule', 'trucks'])

In [13]:
city_weather = feature_group_data['city_weather']
drivers = feature_group_data['drivers']
routes = feature_group_data['routes']
routes_weather = feature_group_data['routes_weather']
traffic = feature_group_data['traffic'] 
truck_schedule = feature_group_data['truck_schedule']
trucks = feature_group_data['trucks']

In [16]:
def assign_feature_group_data(feature_group_data, table_names):
    # Dynamically assign the DataFrame from feature_group_data to the variable names provided in table_names
    for table_name in table_names:
        globals()[table_name] = feature_group_data[table_name]
        print(f"Assigned {table_name} to variable.")
        
# List of table names to be assigned
table_names = ['city_weather', 'routes_weather', 'traffic', 'truck_schedule', 'trucks']

# Call the function to assign feature group data to variables
assign_feature_group_data(feature_group_data, table_names)

# Now you can access the variables dynamically assigned
print(truck_schedule.head())        

# 'drivers_table', 'routes_table'

Assigned city_weather to variable.
Assigned routes_weather to variable.
Assigned traffic to variable.
Assigned truck_schedule to variable.
Assigned trucks to variable.
   index_column  truck_id    route_id       departure_date  \
0          5832  46155960  R-c3d9f83b  2019-02-03 07:00:00
1          1825  23024395  R-f782724c  2019-01-10 07:00:00
2          9186  23608280  R-4d09a561  2019-01-17 07:00:00
3          3063  28641704  R-a55547f0  2019-01-16 07:00:00
4          9578  13426754  R-006548e0  2019-02-10 07:00:00

               estimated_arrival  delay                event_time
0  2019-02-03 08:31:48.000000000      1 2024-09-17 00:00:00+00:00
1  2019-01-10 11:55:48.000000000      1 2024-09-17 00:00:00+00:00
2  2019-01-19 14:35:24.000000000      0 2024-09-17 00:00:00+00:00
3  2019-01-16 19:36:00.000000000      1 2024-09-17 00:00:00+00:00
4  2019-02-11 23:01:12.000000000      1 2024-09-17 00:00:00+00:00

In [25]:

dfs = {
    'city_weather': city_weather,
    'drivers': drivers,
    'routes': routes,
    'routes_weather': routes_weather,
    'traffic': traffic,
    'truck_schedule': truck_schedule,
    'trucks': trucks,
}


def drop_columns_from_tables(dfs, columns_to_drop):
    """
    Drops specified columns from all DataFrames in the provided dictionary.
    
    Parameters:
    - dfs (dict): A dictionary where the keys are DataFrame names and the values are pandas DataFrames.
    - columns_to_drop (list): A list of column names to be dropped from each DataFrame.
    
    Returns:
    - dict: A dictionary of DataFrames with the specified columns removed.
    """
    
    # Loop through each DataFrame in the dictionary
    for table_name, df in dfs.items():
        # Check if the columns exist in the DataFrame before dropping
        cols_to_drop = [col for col in columns_to_drop if col in df.columns]
        
        # If there are columns to drop, drop them
        if cols_to_drop:
            dfs[table_name] = df.drop(columns=cols_to_drop, inplace=True)
            print(f"Dropped columns {cols_to_drop} from {table_name}.")
        else:
            print(f"No matching columns to drop in {table_name}.")
    
    return dfs

# Example usage:
columns_to_drop = ['index_column', 'event_time']  # Example columns that might be present in multiple tables
feature_group_data_cleaned = drop_columns_from_tables(feature_group_data, columns_to_drop)

# Access the cleaned DataFrames as needed
feature_group_data_cleaned['city_weather'].head()

No matching columns to drop in city_weather.
No matching columns to drop in drivers.
No matching columns to drop in routes.
No matching columns to drop in routes_weather.
No matching columns to drop in traffic.
No matching columns to drop in truck_schedule.
No matching columns to drop in trucks.

,city_id,temp,wind_speed,description,precip,humidity,visibility,pressure,chanceofrain,chanceoffog,chanceofsnow,chanceofthunder,datetime
0,C-19236709,55,10,Sunny,0.0,62,6,1001,0,0,0,0,2019-02-14 13:00:00+00:00
1,C-e6dcda92,19,17,Sunny,0.0,74,6,1027,0,0,0,0,2019-01-24 11:00:00+00:00
2,C-419cd14c,57,9,Sunny,0.0,70,6,1029,0,0,0,0,2019-01-09 06:00:00+00:00
3,C-ef47bdcd,36,7,Partly cloudy,0.0,53,6,1005,0,0,0,0,2019-01-06 07:00:00+00:00
4,C-34ae77b0,79,6,Clear,0.0,45,6,1016,0,0,0,0,2019-01-12 20:00:00+00:00

In [21]:
def drop_duplicates_from_dfs(dfs, columns_to_check):
    for df_name, df in dfs.items():
        if df_name in columns_to_check:
            subset_columns = columns_to_check[df_name]
            
            # Check if all columns in subset_columns exist in the DataFrame
            missing_columns = [col for col in subset_columns if col not in df.columns]
            if missing_columns:
                print(f"Warning: DataFrame {df_name} does not contain the columns: {missing_columns}")
                continue  # Skip this DataFrame and move to the next one
            
            before_dropping = df.shape[0]  # Count the number of rows before dropping duplicates
            df.drop_duplicates(subset=subset_columns, inplace=True)
            after_dropping = df.shape[0]  # Count the number of rows after dropping duplicates
            print(f"Dropped {before_dropping - after_dropping} duplicate rows from {df_name} based on columns: {subset_columns}")
        else:
            print(f"No duplicate check columns provided for {df_name}")

# Dictionary where the key is the DataFrame name, and the value is the subset of columns to check for duplicates
columns_to_check = {
    'city_weather': ['city_id', 'datetime'],
    'routes_weather': ['route_id', 'date'],
    'trucks': ['truck_id'],
    'drivers': ['driver_id'],
    'routes': ['route_id', 'destination_id', 'origin_id'],
    'truck_schedule': ['truck_id', 'route_id', 'departure_date']
}

# Call the function to drop duplicates from the DataFrames
drop_duplicates_from_dfs(dfs, columns_to_check)

# Check the result by printing the modified DataFrames
for df_name, df in dfs.items():
    print(f"\n{df_name} DataFrame after dropping duplicates:")
    print(df)

Dropped 707 duplicate rows from city_weather based on columns: ['city_id', 'datetime']
Dropped 0 duplicate rows from drivers based on columns: ['driver_id']
Dropped 0 duplicate rows from routes based on columns: ['route_id', 'destination_id', 'origin_id']
Dropped 0 duplicate rows from routes_weather based on columns: ['route_id', 'date']
No duplicate check columns provided for traffic
Dropped 0 duplicate rows from truck_schedule based on columns: ['truck_id', 'route_id', 'departure_date']
Dropped 0 duplicate rows from trucks based on columns: ['truck_id']

city_weather DataFrame after dropping duplicates:
       index_column     city_id  temp  wind_speed        description  precip  \
0             26374  C-19236709    55          10              Sunny     0.0
1             37883  C-e6dcda92    19          17              Sunny     0.0
2             21614  C-419cd14c    57           9              Sunny     0.0
3              9578  C-ef47bdcd    36           7      Partly cloudy     0.0
4             29488  C-34ae77b0    79           6              Clear     0.0
...             ...         ...   ...         ...                ...     ...
38835         28926  C-2aaf0e1a    23           3  Patchy light snow     0.0
38836         16077  C-b6e04c88    30           6  Patchy light snow     0.0
38837          9327  C-c7cacd1d    52          11              Sunny     0.0
38838         24233  C-2c9e75ef    57          17      Partly cloudy     0.0
38839         38715  C-594514f8    37          12           Overcast     0.0

       humidity  visibility  pressure  chanceofrain  chanceoffog  \
0            62           6      1001             0            0
1            74           6      1027             0            0
2            70           6      1029             0            0
3            53           6      1005             0            0
4            45           6      1016             0            0
...         ...         ...       ...           ...          ...
38835        61           6      1027             0            0
38836        87           6      1019             0            0
38837        79           6      1011             0            0
38838        88           6      1009             0            0
38839        93           6      1012             0            0

       chanceofsnow  chanceofthunder                  datetime  \
0                 0                0 2019-02-14 13:00:00+00:00
1                 0                0 2019-01-24 11:00:00+00:00
2                 0                0 2019-01-09 06:00:00+00:00
3                 0                0 2019-01-06 07:00:00+00:00
4                 0                0 2019-01-12 20:00:00+00:00
...             ...              ...                       ...
38835             0                0 2019-01-13 23:00:00+00:00
38836             0                0 2019-01-26 22:00:00+00:00
38837             0                0 2019-02-04 16:00:00+00:00
38838             0                0 2019-01-06 22:00:00+00:00
38839             0                0 2019-02-04 20:00:00+00:00

                     event_time
0     2024-09-17 00:00:00+00:00
1     2024-09-17 00:00:00+00:00
2     2024-09-17 00:00:00+00:00
3     2024-09-17 00:00:00+00:00
4     2024-09-17 00:00:00+00:00
...                         ...
38835 2024-09-17 00:00:00+00:00
38836 2024-09-17 00:00:00+00:00
38837 2024-09-17 00:00:00+00:00
38838 2024-09-17 00:00:00+00:00
38839 2024-09-17 00:00:00+00:00

[38133 rows x 15 columns]

drivers DataFrame after dropping duplicates:
      index_column   driver_id             name  gender  age  experience  \
0             1180  1717fad3-a   Craig Phillips    male   46           0
1             1171  4b40b4cd-b       Mark Moore    male   46           8
2              924  4c214ae8-b  Jermaine Farmer    male   41           7
3              469  0d9c0cc9-8  Dr. Wayne Clark    male   49          10
4              612  d4bc056a-7   Walter Mccarty    male   55          14
...            ...         ...              ...     ...  ...         ...
1278           741  196df1d5-b   Joseph Leonard    male   47           7
1279           124  862f8e33-8    Laura Ramirez  female   48           2
1280          1111  de188c7f-f     Walter Scott    male   44           3
1281           587  6143fe36-5    Robert Arroyo    male   50           7
1282           780  051b0b14-2   Nathan Shelton    male   46          11

     driving_style  ratings  vehicle_no  average_speed_mph  \
0     conservative        7    20839152              40.95
1     conservative        4    32206460              46.16
2     conservative        7    11095479              41.24
3        proactive        7    20067958              60.29
4        proactive        4    32599168              61.05
...            ...      ...         ...                ...
1278  conservative        8    26346569              52.75
1279     proactive        8    13172330              58.58
1280     proactive        8    20826347              62.97
1281  conservative        7    26292563              56.98
1282  conservative        8    18447837              47.80

                    event_time
0    2024-09-17 00:00:00+00:00
1    2024-09-17 00:00:00+00:00
2    2024-09-17 00:00:00+00:00
3    2024-09-17 00:00:00+00:00
4    2024-09-17 00:00:00+00:00
...                        ...
1278 2024-09-17 00:00:00+00:00
1279 2024-09-17 00:00:00+00:00
1280 2024-09-17 00:00:00+00:00
1281 2024-09-17 00:00:00+00:00
1282 2024-09-17 00:00:00+00:00

[1283 rows x 11 columns]

routes DataFrame after dropping duplicates:
      index_column    route_id   origin_id destination_id  distance  \
0             1604  R-37b07aad  C-56b68559     C-451776b7   1589.99
1             1180  R-858d557e  C-03bb3e48     C-451776b7   1385.36
2             1171  R-39ef4a80  C-2c9e75ef     C-90e30162    517.10
3              402  R-fe016941  C-c7cacd1d     C-03bb3e48    932.44
4              612  R-5d24485c  C-ff8c0c3c     C-03bb3e48    447.87
...            ...         ...         ...            ...       ...
1805            89  R-6b4a42e2  C-73ae5412     C-c92599e2   2324.22
1806           741  R-c8bee627  C-7212cebe     C-5d86b887    841.46
1807          1111  R-2c44d4cc  C-40a81eb1     C-b6e04c88   1033.73
1808          1695  R-09b4b830  C-841ebdcb     C-ef47bdcd    863.47
1809           780  R-34890f5d  C-b6e04c88     C-19236709     60.43

      average_hours                event_time
0             31.80 2024-09-17 00:00:00+00:00
1             27.71 2024-09-17 00:00:00+00:00
2             10.34 2024-09-17 00:00:00+00:00
3             18.65 2024-09-17 00:00:00+00:00
4              8.96 2024-09-17 00:00:00+00:00
...             ...                       ...
1805          46.48 2024-09-17 00:00:00+00:00
1806          16.83 2024-09-17 00:00:00+00:00
1807          20.67 2024-09-17 00:00:00+00:00
1808          17.27 2024-09-17 00:00:00+00:00
1809           1.21 2024-09-17 00:00:00+00:00

[1810 rows x 7 columns]

routes_weather DataFrame after dropping duplicates:
        index_column    route_id                      date  temp  wind_speed  \
0              26197  R-df8c8ec9 2019-02-10 00:00:00+00:00    70           6
1              29820  R-38d1e82d 2019-01-20 06:00:00+00:00    19           4
2             196852  R-593b486f 2019-02-13 18:00:00+00:00    63           3
3              30963  R-89580831 2019-01-29 06:00:00+00:00    68           2
4             202067  R-da652dd4 2019-02-07 18:00:00+00:00    70          10
...              ...         ...                       ...   ...         ...
306564        208366  R-af3e42c5 2019-02-12 18:00:00+00:00    70           9
306565         14816  R-513fb13a 2019-01-19 00:00:00+00:00    46          11
306566         88911  R-7ce7768c 2019-02-07 06:00:00+00:00    37          11
306567        119398  R-6f250521 2019-02-07 00:00:00+00:00    55           3
306568        252882  R-f538dd72 2019-02-09 18:00:00+00:00    55          19

       description  precip  humidity  visibility  pressure  chanceofrain  \
0            Sunny     0.0        62           6      1015             0
1            Clear     0.0        88           6      1021             0
2            Clear     0.0        88           6      1022             0
3            Sunny     0.0        44           6      1017             0
4            Sunny     0.0        46           6      1018             0
...            ...     ...       ...         ...       ...           ...
306564       Clear     0.0        45           6      1011             0
306565       Clear     0.0        79           6      1015             0
306566       Clear     0.0        85           6      1008             0
306567       Clear     0.0        88           6      1016             0
306568       Sunny     0.0        42           6      1013             0

        chanceoffog  chanceofsnow  chanceofthunder                event_time
0                 0             0                0 2024-09-17 00:00:00+00:00
1                 0             0                0 2024-09-17 00:00:00+00:00
2                 0             0                0 2024-09-17 00:00:00+00:00
3                 0             0                0 2024-09-17 00:00:00+00:00
4                 0             0                0 2024-09-17 00:00:00+00:00
...             ...           ...              ...                       ...
306564            0             0                0 2024-09-17 00:00:00+00:00
306565            0             0                0 2024-09-17 00:00:00+00:00
306566            0             0                0 2024-09-17 00:00:00+00:00
306567            0             0                0 2024-09-17 00:00:00+00:00
306568            0             0                0 2024-09-17 00:00:00+00:00

[306569 rows x 15 columns]

traffic DataFrame after dropping duplicates:
         index_column    route_id  no_of_vehicles  accident  \
0              494153  R-073654b1           501.0         0
1              868051  R-0484f127           631.0         0
2             1925149  R-ad41fea2          1890.0         0
3             2274106  R-8dd113f2           604.0         0
4              467880  R-a6c7b143          2164.0         0
...               ...         ...             ...       ...
2458577        810261  R-20612873           699.0         0
2458578        452960  R-d92c1aa1           619.0         0
2458579        666463  R-1a08406e          1885.0         0
2458580       2350743  R-7e29ed2b          2536.0         0
2458581       2039548  R-d215f9e9          2359.0         0

                         datetime                event_time
0       2019-01-01 08:00:00+00:00 2024-09-17 00:00:00+00:00
1       2019-01-03 02:00:00+00:00 2024-09-17 00:00:00+00:00
2       2019-02-06 16:00:00+00:00 2024-09-17 00:00:00+00:00
3       2019-01-12 08:00:00+00:00 2024-09-17 00:00:00+00:00
4       2019-02-08 11:00:00+00:00 2024-09-17 00:00:00+00:00
...                           ...                       ...
2458577 2019-01-23 02:00:00+00:00 2024-09-17 00:00:00+00:00
2458578 2019-01-24 11:00:00+00:00 2024-09-17 00:00:00+00:00
2458579 2019-02-11 16:00:00+00:00 2024-09-17 00:00:00+00:00
2458580 2019-01-25 10:00:00+00:00 2024-09-17 00:00:00+00:00
2458581 2019-01-27 09:00:00+00:00 2024-09-17 00:00:00+00:00

[2458582 rows x 6 columns]

truck_schedule DataFrame after dropping duplicates:
       index_column  truck_id    route_id       departure_date  \
0              5832  46155960  R-c3d9f83b  2019-02-03 07:00:00
1              1825  23024395  R-f782724c  2019-01-10 07:00:00
2              9186  23608280  R-4d09a561  2019-01-17 07:00:00
3              3063  28641704  R-a55547f0  2019-01-16 07:00:00
4              9578  13426754  R-006548e0  2019-02-10 07:00:00
...             ...       ...         ...                  ...
10287          1989  28973978  R-68283907  2019-01-10 07:00:00
10288          8488  14969134  R-31ac88d8  2019-01-26 07:00:00
10289           780  11699550  R-8ff40b97  2019-01-04 07:00:00
10290          4471  11191961  R-8c2f0c3a  2019-01-25 07:00:00
10291          4768  17260588  R-a00ff8f8  2019-01-28 07:00:00

                   estimated_arrival  delay                event_time
0      2019-02-03 08:31:48.000000000      1 2024-09-17 00:00:00+00:00
1      2019-01-10 11:55:48.000000000      1 2024-09-17 00:00:00+00:00
2      2019-01-19 14:35:24.000000000      0 2024-09-17 00:00:00+00:00
3      2019-01-16 19:36:00.000000000      1 2024-09-17 00:00:00+00:00
4      2019-02-11 23:01:12.000000000      1 2024-09-17 00:00:00+00:00
...                              ...    ...                       ...
10287  2019-01-11 03:36:00.000000000      0 2024-09-17 00:00:00+00:00
10288  2019-01-27 18:10:12.000000000      1 2024-09-17 00:00:00+00:00
10289  2019-01-04 16:25:12.000000000      1 2024-09-17 00:00:00+00:00
10290  2019-01-25 21:06:36.000000000      0 2024-09-17 00:00:00+00:00
10291  2019-01-28 18:05:24.000000000      1 2024-09-17 00:00:00+00:00

[10292 rows x 7 columns]

trucks DataFrame after dropping duplicates:
      index_column  truck_id  truck_age  load_capacity_pounds  mileage_mpg  \
0             1180  11614287          7                6000.0           18
1             1171  10440136          9                6000.0           23
2              924  28136927         12               10000.0           16
3              469  72777903         12                3000.0           28
4              612  28295338         12               10000.0           22
...            ...       ...        ...                   ...          ...
1234           741  81068169         11               15000.0           23
1235           124  25558384          7                3000.0           13
1236          1111  26392203          6                3000.0           15
1237           587  18443612         12                4000.0           24
1238           780  33582463          9                6000.0           15

     fuel_type                event_time
0          gas 2024-09-17 00:00:00+00:00
1       diesel 2024-09-17 00:00:00+00:00
2          gas 2024-09-17 00:00:00+00:00
3       diesel 2024-09-17 00:00:00+00:00
4       diesel 2024-09-17 00:00:00+00:00
...        ...                       ...
1234    diesel 2024-09-17 00:00:00+00:00
1235       gas 2024-09-17 00:00:00+00:00
1236       gas 2024-09-17 00:00:00+00:00
1237    diesel 2024-09-17 00:00:00+00:00
1238       gas 2024-09-17 00:00:00+00:00

[1239 rows x 7 columns]

In [24]:
city_weather.head(5)

,index_column,city_id,temp,wind_speed,description,precip,humidity,visibility,pressure,chanceofrain,chanceoffog,chanceofsnow,chanceofthunder,datetime,event_time
0,26374,C-19236709,55,10,Sunny,0.0,62,6,1001,0,0,0,0,2019-02-14 13:00:00+00:00,2024-09-17 00:00:00+00:00
1,37883,C-e6dcda92,19,17,Sunny,0.0,74,6,1027,0,0,0,0,2019-01-24 11:00:00+00:00,2024-09-17 00:00:00+00:00
2,21614,C-419cd14c,57,9,Sunny,0.0,70,6,1029,0,0,0,0,2019-01-09 06:00:00+00:00,2024-09-17 00:00:00+00:00
3,9578,C-ef47bdcd,36,7,Partly cloudy,0.0,53,6,1005,0,0,0,0,2019-01-06 07:00:00+00:00,2024-09-17 00:00:00+00:00
4,29488,C-34ae77b0,79,6,Clear,0.0,45,6,1016,0,0,0,0,2019-01-12 20:00:00+00:00,2024-09-17 00:00:00+00:00

In [26]:
feature_group_data_cleaned['city_weather']

,city_id,temp,wind_speed,description,precip,humidity,visibility,pressure,chanceofrain,chanceoffog,chanceofsnow,chanceofthunder,datetime
0,C-19236709,55,10,Sunny,0.0,62,6,1001,0,0,0,0,2019-02-14 13:00:00+00:00
1,C-e6dcda92,19,17,Sunny,0.0,74,6,1027,0,0,0,0,2019-01-24 11:00:00+00:00
2,C-419cd14c,57,9,Sunny,0.0,70,6,1029,0,0,0,0,2019-01-09 06:00:00+00:00
3,C-ef47bdcd,36,7,Partly cloudy,0.0,53,6,1005,0,0,0,0,2019-01-06 07:00:00+00:00
4,C-34ae77b0,79,6,Clear,0.0,45,6,1016,0,0,0,0,2019-01-12 20:00:00+00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...
38835,C-2aaf0e1a,23,3,Patchy light snow,0.0,61,6,1027,0,0,0,0,2019-01-13 23:00:00+00:00
38836,C-b6e04c88,30,6,Patchy light snow,0.0,87,6,1019,0,0,0,0,2019-01-26 22:00:00+00:00
38837,C-c7cacd1d,52,11,Sunny,0.0,79,6,1011,0,0,0,0,2019-02-04 16:00:00+00:00
38838,C-2c9e75ef,57,17,Partly cloudy,0.0,88,6,1009,0,0,0,0,2019-01-06 22:00:00+00:00
38839,C-594514f8,37,12,Overcast,0.0,93,6,1012,0,0,0,0,2019-02-04 20:00:00+00:00