In [18]:
import hopsworks

project = hopsworks.login()

fs = project.get_feature_store()

Connection closed.
Connected. Call `.close()` to terminate connection gracefully.

Logged in to project, explore it here https://c.app.hopsworks.ai:443/p/1044630
Connected. Call `.close()` to terminate connection gracefully.
Connected. Call `.close()` to terminate connection gracefully.

In [19]:
city_weather_fg = fs.get_feature_group('city_weather', version=1)
query = city_weather_fg.select_all()
df_city_weather=query.read()

Finished: Reading data from Hopsworks, using Hopsworks Feature Query Service (1.90s)

In [20]:
df_city_weather

,index_column,city_id,temp,wind_speed,description,precip,humidity,visibility,pressure,chanceofrain,chanceoffog,chanceofsnow,chanceofthunder,datetime,event_time
0,26374,C-19236709,55,10,Sunny,0.0,62,6,1001,0,0,0,0,2019-02-14 13:00:00+00:00,2024-09-17 00:00:00+00:00
1,37883,C-e6dcda92,19,17,Sunny,0.0,74,6,1027,0,0,0,0,2019-01-24 11:00:00+00:00,2024-09-17 00:00:00+00:00
2,21614,C-419cd14c,57,9,Sunny,0.0,70,6,1029,0,0,0,0,2019-01-09 06:00:00+00:00,2024-09-17 00:00:00+00:00
3,9578,C-ef47bdcd,36,7,Partly cloudy,0.0,53,6,1005,0,0,0,0,2019-01-06 07:00:00+00:00,2024-09-17 00:00:00+00:00
4,29488,C-34ae77b0,79,6,Clear,0.0,45,6,1016,0,0,0,0,2019-01-12 20:00:00+00:00,2024-09-17 00:00:00+00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38835,28926,C-2aaf0e1a,23,3,Patchy light snow,0.0,61,6,1027,0,0,0,0,2019-01-13 23:00:00+00:00,2024-09-17 00:00:00+00:00
38836,16077,C-b6e04c88,30,6,Patchy light snow,0.0,87,6,1019,0,0,0,0,2019-01-26 22:00:00+00:00,2024-09-17 00:00:00+00:00
38837,9327,C-c7cacd1d,52,11,Sunny,0.0,79,6,1011,0,0,0,0,2019-02-04 16:00:00+00:00,2024-09-17 00:00:00+00:00
38838,24233,C-2c9e75ef,57,17,Partly cloudy,0.0,88,6,1009,0,0,0,0,2019-01-06 22:00:00+00:00,2024-09-17 00:00:00+00:00
38839,38715,C-594514f8,37,12,Overcast,0.0,93,6,1012,0,0,0,0,2019-02-04 20:00:00+00:00,2024-09-17 00:00:00+00:00

In [21]:
df_city_weather.drop(columns=['index_column'],inplace=True)

In [22]:
#Identify and drop duplicate rows weather : [city_id,date,hour]
# Identify and drop duplicate rows based on 'city_id', 'date', and 'hour' columns
df_city_weather_cleaned = df_city_weather.drop_duplicates(subset=['city_id', 'datetime'])

# Optionally, reset the index after dropping duplicates
df_city_weather_cleaned.reset_index(drop=True, inplace=True)

# Display the cleaned DataFrame
print(df_city_weather_cleaned.head())

      city_id  temp  wind_speed    description  precip  humidity  visibility  \
0  C-19236709    55          10          Sunny     0.0        62           6
1  C-e6dcda92    19          17          Sunny     0.0        74           6
2  C-419cd14c    57           9          Sunny     0.0        70           6
3  C-ef47bdcd    36           7  Partly cloudy     0.0        53           6
4  C-34ae77b0    79           6          Clear     0.0        45           6

   pressure  chanceofrain  chanceoffog  chanceofsnow  chanceofthunder  \
0      1001             0            0             0                0
1      1027             0            0             0                0
2      1029             0            0             0                0
3      1005             0            0             0                0
4      1016             0            0             0                0

                   datetime                event_time
0 2019-02-14 13:00:00+00:00 2024-09-17 00:00:00+00:00
1 2019-01-24 11:00:00+00:00 2024-09-17 00:00:00+00:00
2 2019-01-09 06:00:00+00:00 2024-09-17 00:00:00+00:00
3 2019-01-06 07:00:00+00:00 2024-09-17 00:00:00+00:00
4 2019-01-12 20:00:00+00:00 2024-09-17 00:00:00+00:00

In [23]:
df_city_weather_cleaned = df_city_weather_cleaned.copy()
df_city_weather_cleaned.drop(columns=['chanceofrain','chanceoffog','chanceofthunder','chanceofsnow'],inplace=True)

In [25]:

df_city_weather_cleaned.drop(columns=['event_time'],inplace=True)

In [26]:
df_city_weather_cleaned

,city_id,temp,wind_speed,description,precip,humidity,visibility,pressure,datetime
0,C-19236709,55,10,Sunny,0.0,62,6,1001,2019-02-14 13:00:00+00:00
1,C-e6dcda92,19,17,Sunny,0.0,74,6,1027,2019-01-24 11:00:00+00:00
2,C-419cd14c,57,9,Sunny,0.0,70,6,1029,2019-01-09 06:00:00+00:00
3,C-ef47bdcd,36,7,Partly cloudy,0.0,53,6,1005,2019-01-06 07:00:00+00:00
4,C-34ae77b0,79,6,Clear,0.0,45,6,1016,2019-01-12 20:00:00+00:00
...,...,...,...,...,...,...,...,...,...
38128,C-2aaf0e1a,23,3,Patchy light snow,0.0,61,6,1027,2019-01-13 23:00:00+00:00
38129,C-b6e04c88,30,6,Patchy light snow,0.0,87,6,1019,2019-01-26 22:00:00+00:00
38130,C-c7cacd1d,52,11,Sunny,0.0,79,6,1011,2019-02-04 16:00:00+00:00
38131,C-2c9e75ef,57,17,Partly cloudy,0.0,88,6,1009,2019-01-06 22:00:00+00:00
38132,C-594514f8,37,12,Overcast,0.0,93,6,1012,2019-02-04 20:00:00+00:00

In [27]:
drivers_fg = fs.get_feature_group('drivers', version=1)
query = drivers_fg.select_all()
df_drivers=query.read()

Finished: Reading data from Hopsworks, using Hopsworks Feature Query Service (1.18s)

In [29]:

df_drivers.drop(columns=["index_column","event_time"],inplace=True)

In [30]:
df_drivers

,driver_id,name,gender,age,experience,driving_style,ratings,vehicle_no,average_speed_mph
0,1717fad3-a,Craig Phillips,male,46,0,conservative,7,20839152,40.95
1,4b40b4cd-b,Mark Moore,male,46,8,conservative,4,32206460,46.16
2,4c214ae8-b,Jermaine Farmer,male,41,7,conservative,7,11095479,41.24
3,0d9c0cc9-8,Dr. Wayne Clark,male,49,10,proactive,7,20067958,60.29
4,d4bc056a-7,Walter Mccarty,male,55,14,proactive,4,32599168,61.05
...,...,...,...,...,...,...,...,...,...
1278,196df1d5-b,Joseph Leonard,male,47,7,conservative,8,26346569,52.75
1279,862f8e33-8,Laura Ramirez,female,48,2,proactive,8,13172330,58.58
1280,de188c7f-f,Walter Scott,male,44,3,proactive,8,20826347,62.97
1281,6143fe36-5,Robert Arroyo,male,50,7,conservative,7,26292563,56.98
1282,051b0b14-2,Nathan Shelton,male,46,11,conservative,8,18447837,47.80

In [31]:
df_drivers_cleaned = df_drivers.drop_duplicates(subset=['driver_id'])

# Optionally, reset the index after dropping duplicates
df_drivers_cleaned.reset_index(drop=True, inplace=True)

In [32]:
df_drivers_cleaned

,driver_id,name,gender,age,experience,driving_style,ratings,vehicle_no,average_speed_mph
0,1717fad3-a,Craig Phillips,male,46,0,conservative,7,20839152,40.95
1,4b40b4cd-b,Mark Moore,male,46,8,conservative,4,32206460,46.16
2,4c214ae8-b,Jermaine Farmer,male,41,7,conservative,7,11095479,41.24
3,0d9c0cc9-8,Dr. Wayne Clark,male,49,10,proactive,7,20067958,60.29
4,d4bc056a-7,Walter Mccarty,male,55,14,proactive,4,32599168,61.05
...,...,...,...,...,...,...,...,...,...
1278,196df1d5-b,Joseph Leonard,male,47,7,conservative,8,26346569,52.75
1279,862f8e33-8,Laura Ramirez,female,48,2,proactive,8,13172330,58.58
1280,de188c7f-f,Walter Scott,male,44,3,proactive,8,20826347,62.97
1281,6143fe36-5,Robert Arroyo,male,50,7,conservative,7,26292563,56.98
1282,051b0b14-2,Nathan Shelton,male,46,11,conservative,8,18447837,47.80

In [33]:
df_drivers_cleaned.duplicated().sum()

0

In [39]:
routes_fg = fs.get_feature_group('routes', version=1)
query = routes_fg.select_all()
df_routes=query.read()

Finished: Reading data from Hopsworks, using Hopsworks Feature Query Service (2.42s)

In [40]:
df_routes

,index_column,route_id,origin_id,destination_id,distance,average_hours,event_time
0,1604,R-37b07aad,C-56b68559,C-451776b7,1589.99,31.80,2024-09-17 00:00:00+00:00
1,1180,R-858d557e,C-03bb3e48,C-451776b7,1385.36,27.71,2024-09-17 00:00:00+00:00
2,1171,R-39ef4a80,C-2c9e75ef,C-90e30162,517.10,10.34,2024-09-17 00:00:00+00:00
3,402,R-fe016941,C-c7cacd1d,C-03bb3e48,932.44,18.65,2024-09-17 00:00:00+00:00
4,612,R-5d24485c,C-ff8c0c3c,C-03bb3e48,447.87,8.96,2024-09-17 00:00:00+00:00
...,...,...,...,...,...,...,...
1805,89,R-6b4a42e2,C-73ae5412,C-c92599e2,2324.22,46.48,2024-09-17 00:00:00+00:00
1806,741,R-c8bee627,C-7212cebe,C-5d86b887,841.46,16.83,2024-09-17 00:00:00+00:00
1807,1111,R-2c44d4cc,C-40a81eb1,C-b6e04c88,1033.73,20.67,2024-09-17 00:00:00+00:00
1808,1695,R-09b4b830,C-841ebdcb,C-ef47bdcd,863.47,17.27,2024-09-17 00:00:00+00:00
1809,780,R-34890f5d,C-b6e04c88,C-19236709,60.43,1.21,2024-09-17 00:00:00+00:00

In [41]:
df_routes.drop(columns=["index_column","event_time"],inplace=True)

In [49]:

df_routes_cleaned = df_routes.drop_duplicates(subset=['route_id','origin_id','destination_id'])

# Optionally, reset the index after dropping duplicates
df_routes_cleaned.reset_index(drop=True, inplace=True)

In [50]:
df_routes_cleaned

        route_id   origin_id destination_id  distance  average_hours
0     R-37b07aad  C-56b68559     C-451776b7   1589.99          31.80
1     R-858d557e  C-03bb3e48     C-451776b7   1385.36          27.71
2     R-39ef4a80  C-2c9e75ef     C-90e30162    517.10          10.34
3     R-fe016941  C-c7cacd1d     C-03bb3e48    932.44          18.65
4     R-5d24485c  C-ff8c0c3c     C-03bb3e48    447.87           8.96
...          ...         ...            ...       ...            ...
1805  R-6b4a42e2  C-73ae5412     C-c92599e2   2324.22          46.48
1806  R-c8bee627  C-7212cebe     C-5d86b887    841.46          16.83
1807  R-2c44d4cc  C-40a81eb1     C-b6e04c88   1033.73          20.67
1808  R-09b4b830  C-841ebdcb     C-ef47bdcd    863.47          17.27
1809  R-34890f5d  C-b6e04c88     C-19236709     60.43           1.21

[1810 rows x 5 columns]

In [45]:
routes_weather_fg = fs.get_feature_group('routes_weather', version=1)
query = routes_weather_fg.select_all()
df_routes_weather=query.read()

Finished: Reading data from Hopsworks, using Hopsworks Feature Query Service (6.52s)

In [46]:
df_routes_weather

,index_column,route_id,date,temp,wind_speed,description,precip,humidity,visibility,pressure,chanceofrain,chanceoffog,chanceofsnow,chanceofthunder,event_time
0,26197,R-df8c8ec9,2019-02-10 00:00:00+00:00,70,6,Sunny,0.0,62,6,1015,0,0,0,0,2024-09-17 00:00:00+00:00
1,29820,R-38d1e82d,2019-01-20 06:00:00+00:00,19,4,Clear,0.0,88,6,1021,0,0,0,0,2024-09-17 00:00:00+00:00
2,196852,R-593b486f,2019-02-13 18:00:00+00:00,63,3,Clear,0.0,88,6,1022,0,0,0,0,2024-09-17 00:00:00+00:00
3,30963,R-89580831,2019-01-29 06:00:00+00:00,68,2,Sunny,0.0,44,6,1017,0,0,0,0,2024-09-17 00:00:00+00:00
4,202067,R-da652dd4,2019-02-07 18:00:00+00:00,70,10,Sunny,0.0,46,6,1018,0,0,0,0,2024-09-17 00:00:00+00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
306564,208366,R-af3e42c5,2019-02-12 18:00:00+00:00,70,9,Clear,0.0,45,6,1011,0,0,0,0,2024-09-17 00:00:00+00:00
306565,14816,R-513fb13a,2019-01-19 00:00:00+00:00,46,11,Clear,0.0,79,6,1015,0,0,0,0,2024-09-17 00:00:00+00:00
306566,88911,R-7ce7768c,2019-02-07 06:00:00+00:00,37,11,Clear,0.0,85,6,1008,0,0,0,0,2024-09-17 00:00:00+00:00
306567,119398,R-6f250521,2019-02-07 00:00:00+00:00,55,3,Clear,0.0,88,6,1016,0,0,0,0,2024-09-17 00:00:00+00:00
306568,252882,R-f538dd72,2019-02-09 18:00:00+00:00,55,19,Sunny,0.0,42,6,1013,0,0,0,0,2024-09-17 00:00:00+00:00

In [47]:
df_routes_weather.drop(columns=["index_column","event_time","chanceofrain","chanceofthunder","chanceoffog","chanceofsnow"],inplace=True)

In [48]:
df_routes_weather

,route_id,date,temp,wind_speed,description,precip,humidity,visibility,pressure
0,R-df8c8ec9,2019-02-10 00:00:00+00:00,70,6,Sunny,0.0,62,6,1015
1,R-38d1e82d,2019-01-20 06:00:00+00:00,19,4,Clear,0.0,88,6,1021
2,R-593b486f,2019-02-13 18:00:00+00:00,63,3,Clear,0.0,88,6,1022
3,R-89580831,2019-01-29 06:00:00+00:00,68,2,Sunny,0.0,44,6,1017
4,R-da652dd4,2019-02-07 18:00:00+00:00,70,10,Sunny,0.0,46,6,1018
...,...,...,...,...,...,...,...,...,...
306564,R-af3e42c5,2019-02-12 18:00:00+00:00,70,9,Clear,0.0,45,6,1011
306565,R-513fb13a,2019-01-19 00:00:00+00:00,46,11,Clear,0.0,79,6,1015
306566,R-7ce7768c,2019-02-07 06:00:00+00:00,37,11,Clear,0.0,85,6,1008
306567,R-6f250521,2019-02-07 00:00:00+00:00,55,3,Clear,0.0,88,6,1016
306568,R-f538dd72,2019-02-09 18:00:00+00:00,55,19,Sunny,0.0,42,6,1013

In [51]:

df_routes_weather_cleaned = df_routes_weather.drop_duplicates(subset=['route_id','date'])

# Optionally, reset the index after dropping duplicates
df_routes_weather_cleaned.reset_index(drop=True, inplace=True)

In [52]:
df_routes_weather_cleaned

,route_id,date,temp,wind_speed,description,precip,humidity,visibility,pressure
0,R-df8c8ec9,2019-02-10 00:00:00+00:00,70,6,Sunny,0.0,62,6,1015
1,R-38d1e82d,2019-01-20 06:00:00+00:00,19,4,Clear,0.0,88,6,1021
2,R-593b486f,2019-02-13 18:00:00+00:00,63,3,Clear,0.0,88,6,1022
3,R-89580831,2019-01-29 06:00:00+00:00,68,2,Sunny,0.0,44,6,1017
4,R-da652dd4,2019-02-07 18:00:00+00:00,70,10,Sunny,0.0,46,6,1018
...,...,...,...,...,...,...,...,...,...
306564,R-af3e42c5,2019-02-12 18:00:00+00:00,70,9,Clear,0.0,45,6,1011
306565,R-513fb13a,2019-01-19 00:00:00+00:00,46,11,Clear,0.0,79,6,1015
306566,R-7ce7768c,2019-02-07 06:00:00+00:00,37,11,Clear,0.0,85,6,1008
306567,R-6f250521,2019-02-07 00:00:00+00:00,55,3,Clear,0.0,88,6,1016
306568,R-f538dd72,2019-02-09 18:00:00+00:00,55,19,Sunny,0.0,42,6,1013

In [ ]:
traffic_fg = fs.get_feature_group('traffic', version=1)
query = traffic_fg.select_all()
df_routes_weather=query.read()